html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
}

.carousel-item img {
  height: 500px;
  object-fit: contain;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.dog-container img {
  display: block;
  max-width: 300px;
  height: 200px;
  margin: auto;
}

.facts-container {
  display: flex;
  flex-direction: column;
}
